body{
    background-color: #e1d9d4;
    padding: 0;
    margin: 0;
    font-family: 'Readex Pro', sans-serif;
}

header{
    background: linear-gradient(90deg, #7fdce2 0%, #8ce4b0 100%);
}

.site-name{
    font-size: 1em;
    font-weight: 700;
    padding: 1em;
    color: #aa7c60;
}